$main_color: #45A29E;
$main_color_light: #E3E2DF;

$breakpoint_xxxl: 2500px;
$breakpoint_xxl: 1920px; //
$breakpoint_xl: 1680px; //
$breakpoint_l: 1280px; //
$breakpoint_xm: 1400px; //
$breakpoint_m: 1024px; //
$breakpoint_xxs: 820px; //
$breakpoint_xs: 600px; //
$breakpoint_s: 440px; //
$breakpoint_ss: 380px