@import "./_vars";

@media (max-width: $breakpoint_xxl) {
  .main-page__header{
    z-index: 100;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $main_color_light;
    &-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-logo {
      margin-left: 350px;
      width: auto;
      height: 250px;
      margin-top: -50px;
      margin-bottom: -50px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    &-nav{
      display: flex;
      justify-content: space-between;
      &-elem{
        color: $main_color;
        padding-right: 60px;
        font-size: 32px;
      }
    }
  }
}

@media (max-width: $breakpoint_xl) {
  .main-page__header{
    &-logo {
      margin-left: 230px;
    }
  }
}

@media (max-width: $breakpoint_xm) {
  .main-page__header{
    &-logo {
      margin-left: 73px;
    }
  }
}

@media (max-width: $breakpoint_l) {
  .main-page__header{
    &-logo {
      margin-left: 20px;
    }
    &-nav{
      &-elem{
        padding-right: 30px;
        font-size: 32px;
      }
    }
  }
}

@media (max-width: $breakpoint_m) {
  .main-page__header{
    &-logo {
      margin-top: -10px;
      margin-bottom: -10px;
      width: auto;
      height: 100px;
    }
    &-nav{
      padding-right: 100px;
      &-elem{
        padding-right: 20px;
        font-size: 26px;
      }
    }
  }
}

@media (max-width: $breakpoint_xxs) {
  .main-page__header{
    &-nav{
      padding-right: 0px;
      &-elem{
        padding-right: 15px;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: $breakpoint_xs) {
  .main-page__header{
    &-nav{
      &-elem{
        padding-right: 15px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}


.is-sticky {
  z-index: 100;
  padding: 15px 0;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  transition: all 0.3s;
}