@import "vars";

@media (max-width: $breakpoint_xxl){
.montage-item {

  &-card {
    border-radius: 2%;
    background-color: $main_color_light;
    padding: 25px; // Устанавливаем общий отступ для всей карточки
    width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);

    &__img {
      border-radius: 2%;
      width: 520px;
      height: 346px;
      margin: 0;
      padding-bottom: 25px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      width: 100%; // Задаем ширину контенту
    }

    &__title {
      padding: 0; // Убираем padding
      margin-bottom: 10px; // Задаем отступ снизу для заголовка
      font-weight: bold;
      font-size: 20px;
    }

    &__text {
      padding: 0; // Убираем padding
      margin-bottom: 10px; // Задаем отступ снизу для текста
      font-size: 16px;
    }
  }
}

}

@media (max-width: $breakpoint_xs){
  .montage-item {

    &-card {
      border-radius: 2%;
      padding: 15px;
      width: 430px;

      &__img {
        border-radius: 2%;
        width: 400px;
        height: auto;
        padding-bottom: 15px;
      }

      &__title {
        padding: 0; // Убираем padding
        margin-bottom: 10px; // Задаем отступ снизу для заголовка
        font-weight: bold;
        font-size: 20px;
      }

      &__text {
        padding: 0; // Убираем padding
        margin-bottom: 10px; // Задаем отступ снизу для текста
        font-size: 16px;
      }
    }
  }

}

@media (max-width: $breakpoint_s){
  .montage-item {

    &-card {
      width: 380px;

      &__img {
        width: 350px;
        height: auto;
      }

      &__title {
        padding: 0; // Убираем padding
        margin-bottom: 10px; // Задаем отступ снизу для заголовка
        font-weight: bold;
        font-size: 20px;
      }

      &__text {
        padding: 0; // Убираем padding
        margin-bottom: 10px; // Задаем отступ снизу для текста
        font-size: 16px;
      }
    }
  }

}

@media (max-width: $breakpoint_ss){
  .montage-item {

    &-card {
      width: 300px;

      &__img {
        width: 280px;
        height: auto;
      }
    }
  }

}